
@font-face {
    font-family: 'Haas';
    src: url('A-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaas';
    src: url('NeueHaasDisplayRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaas';
    src: url('NeueHaasDisplayRomanItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaas';
    src: url('NeueHaasDisplayBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaas';
    src: url('NeueHaasDisplayBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

html, body{
    font-family: 'NeueHaas', sans-serif;
}   
